.ant-pagination{
  .ant-pagination-total-text{
    color: $text-color;
  }
}

@media(max-width: 720px){
  .ant-pagination{
    position: relative;

    .ant-pagination-total-text{
      position: absolute;
      bottom: -38px;

      font-size: 1.2rem;
    }
  }
}