@import '~antd/dist/antd.css';
.home {
  height: 100%;
}
.home .content-header {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 6rem 0 2rem;
}
.home .content-header .anticon-google {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: #4285f4;
}
.home .content-header .google-books {
  margin-bottom: 0;
  position: relative;
}
.home .content-header .google-books #books {
  position: absolute;
  bottom: -14px;
  right: -6px;
  right: -11px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4285f4;
}
.home .content-home {
  padding-bottom: 4rem;
}

.search {
  width: 100%;
}
.search .content-search {
  width: 400px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .search .content-search {
    width: auto;
  }
}
.books-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.books-list .content-books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.books-list .content-books-list .card-book {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.books-list .content-books-list .card-book .ant-card-cover {
  height: 280px;
  display: flex;
  align-items: center;
}
.books-list .content-books-list .card-book .ant-card-cover img {
  height: 280px;
}
.books-list .content-books-list .card-book .ant-card-cover #not-image {
  font-size: 4rem;
  color: #4F4F4F;
}
.books-list .content-books-list .card-book .ant-card-body {
  height: 12.5rem;
  overflow-y: scroll;
}
.books-list .content-books-list .card-book .ant-card-body .ant-card-meta-description p {
  margin-bottom: 0.5rem;
}
.books-list .content-books-list .card-book .ant-card-body::-webkit-scrollbar {
  width: 0.375rem;
}
.books-list .content-books-list .card-book .ant-card-body::-webkit-scrollbar-track {
  background: white;
}
.books-list .content-books-list .card-book .ant-card-body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 0.375rem;
}
.books-list .ant-pagination {
  display: flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .books-list .content-books-list .card-book {
    margin-right: 0;
  }
}
.information-modal .content-modal {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
.information-modal .content-modal .image-modal {
  height: 150px !important;
}
.information-modal .content-modal .description-book p {
  margin-bottom: 0.5rem;
}
.information-modal .bibliographic-information p {
  margin-bottom: 0.5rem;
}

@media (max-width: 720px) {
  .information-modal .content-modal {
    grid-template-columns: none;
  }
  .information-modal .content-modal .description-book {
    font-size: 1rem;
  }
}
.ant-pagination .ant-pagination-total-text {
  color: #4F4F4F;
}

@media (max-width: 720px) {
  .ant-pagination {
    position: relative;
  }
  .ant-pagination .ant-pagination-total-text {
    position: absolute;
    bottom: -38px;
    font-size: 1.2rem;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  color: #4F4F4F;
}

.App {
  height: 100vh;
  padding: 2rem;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 93.75%;
  }
}

/*# sourceMappingURL=global.css.map */
